.footer {
    display: flex !important;
    justify-content: center;
    color: 'black' !important;
    background-color: white;
    height: 180px;
}
.footer p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid orange;
    width: 98%;
    height: 50px;
}
a{
    color: blue;
}